
body {
    font-family: Arial, sans-serif;
}
.container {
    margin: 150px 650px;
}
.dropdown {
    margin-top: 15px;
}
label {
    font-size: 18px;
    margin-left: 10px;
    color: rgb(35, 132, 228);

}
#assignees {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}
.clear-button {
    margin-left: 5px;
    padding: 5px 8px;
    font-size: 16px;
    cursor: pointer;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
}