#data {
    background-color: rgb(243, 242, 241);
    border: 2px solid rgb(229, 130, 38);
    padding-left: 20px;
    width: 227px;
    height: 750px;
    color: rgb(218, 107, 27);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow: hidden;
    
    
  }

body {

    background-image: url("./anime-series-characters-naruto-laptop-t0vwmzl2ayg8mo5k.webp");
    background-repeat: no-repeat;
    background-size: cover;
}

button {
    position: absolute;
    top: 120px;
    left: 227px;
}

