*{
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;
}
#searchbox{
    width: 600px;
    height: 35px;
    float: right;
    border: 0px;
    border-radius: 10px;
    background-color: rgb(228, 241, 244);
}
#searchbox:focus{
    outline:none;
}
.line{
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: rgb(241, 233, 233);
}
.line img{
    
}
.flex{
    display: flex;
    font-family: Sans-serif;
    padding: 0px;
    gap: 3rem;
}

.flex p {
    display: inline;
    padding: 0;
    margin: 0;
}

#b button{
    position: relative;
    left: 5rem;
    top: -1rem;
    border-radius: 10px;
    height: 38px;
}
#b{
    margin-left: 200px;
}
#a{
    float: right;
    padding-right: 100px;
}
#c{
    font-family: "Poppins", Sans-serif;
    font-size: 25px;
    color: rgb(77, 155, 36);
}
#d{
    padding: 10px;
    padding-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
#e{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 700px;
    line-height: 26px;
    font-size: 18px;
}
#f button{
   position: relative;
   left: 5rem;
   top: 3rem;
   border-radius: 10px;
   height: 38px;
   width: 250px;
}
.categories{
    position: absolute;
    top: 1rem;
    left: 20rem;
}

.dropdown-content{
    display: none;
    position: absolute;
    top: 15px;
    left: 1px;
}

.dropdown-content ul{
    list-style-type: none;
    background-color: white;
    
}
.dropdown-content ul li{
    padding: 0%;
    width: 150px;
    
}
.dropdown-content ul li a{
    display: block;
    text-decoration: none;
    text-align: justify;
    padding-left: 0%;
}
.dropdown-content ul li a:hover{
    color: green;
}